<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a href="/">
            <img class="logo-header" src="/img/HireHack.png" alt="HireHack logo">
        </a>

        {{!-- <a class="navbar-brand" href="#">HireHack</a> --}}
        <div id="navbarTogglerDemo03">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {{#if currentCompany}}
                <li class="nav-item">
                    <a class="nav-link" href="/{{#if currentCompany}}company-profile{{else}}company-login{{/if}}"></a>
                </li>
                <li class="profile-status">
                    <p>{{currentCompany.name}} | Empresa</p>
                </li>
                {{#if currentCompany}}
                <form action="/company-logout" method="POST">
                    <li>
                        <button class="nav-link active btn btn-logout">Cerrar sesión</button>
                    </li>
                </form>
                {{/if}}
                {{else}}
                {{#if currentCandidate}}
                <li class="nav-item">
                    <a class="nav-link" href="/{{#if currentCandidate}}candidate-profile{{else}}candidate-login{{/if}}"
                        tabindex="-1" aria-disabled="true"></a>
                </li>
                <li class="profile-status">
                    <p>{{currentCandidate.name}} | Candidato</p>
                </li>
                {{#if currentCandidate}}
                <form action="/candidate-logout" method="POST">
                    <li>
                        <button class="nav-link active btn btn-logout">Cerrar sesión</button>
                    </li>
                </form>
                {{/if}}
                {{/if}}
                {{/if}}
            </ul>
            {{#unless currentCompany}}
            {{#unless currentCandidate}}
            <a class="nav-link active btn btn-offers" aria-current="page" href="/offers-list">Ofertas</a>
            <button type="button" class="btn btn-access" data-toggle="modal" data-target="#accessModal"> Acceso </button> 
            {{/unless}}
            {{/unless}}
        </div>
    </div>
</nav>

<div class="modal fade" id="accessModal">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 ms-auto">
                            <img class="modal-img" src="https://img.freepik.com/vector-gratis/ilustracion-concepto-empresa_114360-2581.jpg?size=338&ext=jpg" alt="Empresa">
                            <a class="btn btn-access" href="/company-login" data-toggle="tooltip" title="GeeksforGeeks" data-placement="right">
                                Empresa</a>   
                        </div>
                        <div class="col-md-6 ms-auto">
                            <img class="modal-img" src="https://image.freepik.com/vector-gratis/elegir-candidato-trabajo_1325-385.jpg" alt="Empresa">
                            <a class="btn btn-access text-center" href="/candidate-login" data-toggle="tooltip" title="GeeksforGeeks" data-placement="right">
                                Candidato</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


