<header class="navigation">
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a href="/">
            <img class="logo-header" src="/img/HireHack.png" alt="HireHack logo">
        </a>

        {{!-- <a class="navbar-brand" href="#">HireHack</a> --}}
        <div id="navbarTogglerDemo03">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {{#if currentCompany}}
                <li class="nav-item">
                    <a class="nav-link" href="/{{#if currentCompany}}company-profile{{else}}company-login{{/if}}"></a>
                </li>
                <li class="profile-status">
                    <p>{{currentCompany.name}} | Empresa</p>
                </li>
                {{#if currentCompany}}
                <form action="/company-logout" method="POST">
                    <li>
                        <button class="nav-link active btn btn-logout">Cerrar sesión</button>
                    </li>
                </form>
                {{/if}}
                {{else}}
                {{#if currentCandidate}}
                <li class="nav-item">
                    <a class="nav-link" href="/{{#if currentCandidate}}candidate-profile{{else}}candidate-login{{/if}}"
                        tabindex="-1" aria-disabled="true"></a>
                </li>
                <li class="profile-status">
                    <p>{{currentCandidate.name}} | Candidato</p>
                </li>
                {{#if currentCandidate}}
                <form action="/candidate-logout" method="POST">
                    <li>
                        <button class="nav-link active btn btn-logout">Cerrar sesión</button>
                    </li>
                </form>
                {{/if}}
                {{/if}}
                {{/if}}
            </ul>


            {{#unless currentCompany}}
            {{#unless currentCandidate}}
            <a class="nav-link active btn btn-offers" aria-current="page" href="/offers-list">Ofertas</a>
            <a class="nav-link active btn btn-access" aria-current="page" id="show-login">Acceso</a>
            {{/unless}}
            {{/unless}}
        </div>
    </div>
</nav>

<div id="main-login" class="d-none d-flex text-center col-12 bg-light text-white py-5">
    <div class="col-6">
        <button class="btn btn-secondary text-white"><a class="nav-link text-white" href="/company-login">Empresas</a></button>
    </div>
    <div class="col-6">
        <button class="btn btn-secondary text-white"><a class="nav-link text-white" href="/candidate-login">Candidatos</a></button>
    </div>
</div>
</header>