<div class="container-xl container-lg container-md container-fluid login profile-candidate">
    <img src="{{currentCandidate.picture}}" alt="Foto de perfil">

    <h1>{{currentCandidate.name}} {{currentCandidate.surname}}</h1>
    <p>Email: {{currentCandidate.email}}</p>

    {{#if currentCandidate.cv}}

    <a href="{{currentCandidate.cv}}">Tu CV</a>

    {{/if}}

<a class="btn btn-primary d-inline" href="/candidate-edit/{{currentCandidate._id}}">Editar mi perfil</a>
    <p>
        {{currentCandidate.skills}}
        {{!-- {{#each currentCandidate.skills}}
        {{#if @last}}
        <span>{{this}}</span>
        {{else}}
        <span>{{this}} |</span>
        {{/if}}
        {{/each}} --}}
    </p>

</div>

<div class="container-xl container-lg container-md container-fluid login profile-candidate">
    <h2>Mis ofertas</h2>
    {{#each application}}
    <div class="border rounded p-3 mb-2">
        <h3>{{offer.name}}</h3>
        <p>Estado: {{#if offer.active}}<span style="color: green;">ABIERTO</span>{{else}}<span style="color: red;">CERRADO</span>{{/if}}</p>
        <p><b>Descripción:</b> <br> {{offer.description}}</p>
        <b>Requisitos:</b>
        {{#each offer.skills}}
        {{#if @last}}
        <span>{{this}}</span>
        {{else}}
        <span>{{this}} |</span>
        {{/if}}
        {{/each}}
        <br>
    </div>
    {{/each}}
</div>