<h1>Perfil de Candidato</h1>
<img src="{{currentCandidate.picture}}" alt="Foto de perfil">

{{#if currentCandidate.cv}}

<a href="{{currentCandidate.cv}}">Tu CV</a>

{{/if}}


<p>Conectado como {{currentCandidate.name}}</p>

<form action="/candidate-logout" method="POST">
    <li>
        <button>Cerrar sesión</button>
    </li
</form>
<p>
    {{currentCandidate.skills}}
    {{!-- {{#each currentCandidate.skills}}
    {{#if @last}}
    <span>{{this}}</span>
    {{else}}
    <span>{{this}} |</span>
    {{/if}}
    {{/each}} --}}
</p>

<h2>Mis ofertas</h2>
{{#each application}}
<div class="border rounded p-3 mb-2">
    <h3>{{offer.name}}</h3>
    <p>Estado: {{#if offer.active}}<span style="color: green;">ABIERTO</span>{{else}}<span style="color: red;">CERRADO</span>{{/if}}</p>
    <p><b>Descripción:</b> <br> {{offer.description}}</p>
    <b>Requisitos:</b>
    {{#each offer.skills}}
    {{#if @last}}
    <span>{{this}}</span>
    {{else}}
    <span>{{this}} |</span>
    {{/if}}
    {{/each}}
    <br>
</div>
{{/each}}

<a class="btn btn-success d-inline" href="/candidate-edit/{{currentCandidate._id}}">Editar mi perfil</a>

<form class="delete-form d-inline" action="/delete-candidate/{{currentCandidate._id}}" method="post">
    <button type="submit" class="btn btn-danger" onclick="return clicked()">Eliminar Perfil Candidato</button>
</form>

<h2>Calendario de entrevistas</h2>
<p><input type="date" id="dateInput"></p>
<p><input type="time" id="timeInput"></p>
<button id="addBtn">Añadir</button>
<p><button id="sortBtn">Eliminar</button></p>
<ul></ul>
<table id="todoTable">
    <tr>
        <td></td>
        <td>Date</td>
        <td>Time</td>
        <td>to-do</td>
        <td>
            <select name="categoryFilter" id="categoryFilter"></select>
        </td>
        <td></td>
    </tr>
</table>
<div id="calendar"></div>

