<h1>Introduce tu nueva contraseña</h1>
<div class="col mb-2">
    <div class="row">
        <form action="/candidate-edit-password" method="POST">
            <div class="form-group">
                <label for="email-input"> Email: </label>
                <input class="form-control {{#if errors.email}}is-invalid{{/if}}" type="email"
                    value="{{company.email}}" name="email" id="email-input">
                {{#if errors.email}}
                <div class="invalid-feedback">{{errors.email}}</div>
                {{/if}}
                <label for="new-password-input"> Nueva Contraseña: </label>
                <input class="form-control {{#if errors.password}}is-invalid{{/if}}" type="password"
                    value="{{company.password}}" name="newPassword" id="new-password-input">
                {{#if errors.password}}
                <div class="invalid-feedback">{{errors.password}}</div>
                {{/if}}
                <label for="confirm-password-input"> Repetir Nueva Contraseña: </label>
                <input class="form-control {{#if errors.password}}is-invalid{{/if}}" type="password"
                    value="{{company.password}}" name="confirmPassword" id="confirm-password-input">
                {{#if errors.password}}
                <div class="invalid-feedback">{{errors.password}}</div>
                {{/if}}
                <button class="btn btn-primary mt-3" type="submit">Actualizar</button>
            </div>
        </form>
    </div>
</div>