<h1>Registro como candidato</h1>
<div class="col mb-2">
    <div class="row">
        <form action="/candidate-signup" method="POST">
        <div class="form-group">
            <label for="candidateName-input" name="name"> Nombre: </label>
            <input class="form-control" value="{{candidate.name}}" type="text" name="name"
                id="candidateName-input" >
        </div>
        <div class="form-group">
            <label for="candidateSurname-input" name="surname"> Apellidos: </label>
            <input class="form-control" value="{{candidate.surname}}" type="text" name="surname" id="candidateSurname-input">
        </div>
            <div class="form-group">
                <label for="email-input" name="email"> Email: </label>
                <input class="form-control {{#if errors.email}}is-invalid{{/if}}" type="email"
                    value="{{candidate.email}}" name="email" id="email-input">
                {{#if errors.email}}
                <div class="invalid-feedback">{{errors.email}}</div>
                {{/if}}
            </div>
            <div class="form-group">
                <label for="candidatePassword-input" name="password"> Contraseña: </label>
                <input class="form-control {{#if errors.password}}is-invalid{{/if}}" type="password" name="password" id="candidatePassword-input">
                {{#if errors.password}}
                <div class="invalid-feedback">{{errors.password}}</div>
                {{/if}}
            </div>

            <button class="btn btn-primary mt-3" type="submit">Registro</button>
        </form>
    </div>
</div>

<p>¿Ya tienes una cuenta? <a href="/candidate-login">Iniciar sesión</a></p>