<h1 class="text-center mb-4">Detalle de la oferta</h1>
<div class="border rounded p-3">
    <h3>{{offer.name}}</h3>
    <hr>
    {{#with offer.address}}
    <h5>Lugar de la oferta: {{streetName}} {{number}}, {{zipCode}} - {{city}} ({{country}})</h5>
    {{/with}}
    <h5>Descripción:</h5>
    <p>{{offer.description}}</p>
    <p>
        <b>Requisitos:</b>
        {{#each offer.skills}}
        {{#if @last}}
        <span>{{this}}</span>
        {{else}}
        <span>{{this}} |</span>
        {{/if}}
        {{/each}}
    </p>
    <p>Oferta publicada por: <strong>{{offer.offers_publishedByCompany.name}}</strong></p>

    <div id="map"></div>

    {{#if offer.active}}
    <form class="delete-form d-inline" action="/apply/{{offer.id}}" method="post">
        <button type="submit" class="btn btn-danger">Inscribirme</button>
    </form>
    {{/if}}
</div>


<script>
    let marker = { lat: {{lat}}, lng: {{lng}} }
    let editable = false;
</script>


<script src="/javascripts/googleMaps.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key={{MAPS_KEY}}&callback=initMap&libraries=&v=weekly"async></script>

