<h1>Offer Creation Page</h1>
<h2>Crea una oferta</h2>
<div class="col mb-2">
    <div class="row">
        <form action="/company-signup" method="POST">
            <div class="form-group">
                <label for="offer-input" name="name"> Nombre de la oferta: </label>
                <input class="form-control {{#if errors.name}}is-invalid{{/if}}" value="{{offer.name}}" type="text"
                    name="name" id="offer-input">
                {{#if errors.name}}
                <div class="invalid-feedback">{{errors.name}}</div>
                {{/if}}
            </div>
            <div class="form-group">
                <label for="address-input"> Lugar de la oferta: </label>
                <input class="form-control {{#if errors.address}}is-invalid{{/if}}" value="{{offer.skills}}"
                    type="email" name="address" id="address-input">
                {{#if errors.email}}
                <div class="invalid-feedback">{{errors.address}}</div>
                {{/if}}
            </div>
            <div class="form-group">
                <label for="offer-input"> Descripción: </label>
                <textarea name="description" id="offer" cols="30" rows="10"></textarea>
            </div>

            <div class="form-group">
                <label for="description-input"> Requisitios: </label>
                <input class="form-control {{#if errors.skills}}is-invalid{{/if}}" value="{{offer.skills}}"
                    type="email" name="address" id="address-input">
                {{#if errors.skills}}
                <div class="invalid-feedback">{{errors.skills}}</div>
                {{/if}}
            </div>
            <button class="btn btn-primary mt-3" type="submit">Crear Oferta</button>
        </form>
    </div>
</div>
<p>¿Ya tienes una cuenta? <a href="/company-login">Iniciar sesión</a></p>