<h2>{{#if _id}}Edita la oferta{{else}}Crea una oferta{{/if}}</h2>
<div class="col mb-2">
    <div class="row">
        <form action="{{#if _id}}/edit-offer/{{_id}}{{else}}/offer-creation{{/if}}" method="POST">
            <div>
                <p>Empresa: {{currentCompany.name}}</p>
            </div>
            <div class="form-group">
                <label for="offer-input" name="name"> Nombre de la oferta: </label>
                <input class="form-control {{#if errors.name}}is-invalid{{/if}}" value="{{name}}" type="text" name="name"
                    id="offer-input">
                {{#if errors.name}}
                <div class="invalid-feedback">{{errors.name}}</div>
                {{/if}}
            </div>
            <div class="form-group">
                <label for="address-input"> Lugar de la oferta: </label>
                <input class="form-control mb-2 {{#if errors.address}}is-invalid{{/if}}" value="{{address.streetName}}" type="text" name="address.streetName"
                    id="address-input" placeholder="Calle">
                <input class="form-control mb-2 {{#if errors.address}}is-invalid{{/if}}" value="{{address.number}}" type="text" name="address.number"
                    id="address-input" placeholder="Número">
                <input class="form-control mb-2 {{#if errors.address}}is-invalid{{/if}}" value="{{address.zipCode}}" type="text" name="address.zipCode"
                    id="address-input" placeholder="Código Postal">
                <input class="form-control mb-2 {{#if errors.address}}is-invalid{{/if}}" value="{{address.city}}" type="text" name="address.city"
                    id="address-input" placeholder="Ciudad">
                <input class="form-control mb-2 {{#if errors.address}}is-invalid{{/if}}" value="{{address.country}}" type="text" name="address.country"
                    id="address-input" placeholder="País">
                {{#if errors.address}}
                <div class="invalid-feedback">{{errors.address}}</div>
                {{/if}}
            </div>
            <div class="form-group">
                <label for="offer-input"> Descripción: </label>
                <textarea class="form-control" name="description" id="offer" cols="30" rows="10">{{description}}</textarea>
            </div>

            <div class="form-group">
                <label for="skills-input"> Requisitios: </label>
                <input class="form-control {{#if errors.skills}}is-invalid{{/if}}" type="text" name="skills"
                    id="skills-input" value="{{skills}}"
                    placeholder="Ej.: creatividad, trabajo en equipo, orientación a resultados, organización, motivación, comunicación, compromiso, trabajo bajo presión...">
                <div class="form-text text-secondary">Debes añadir mínimo dos requisitos separados por comas.</div>
                {{#if errors.skills}}
                <div class="invalid-feedback">{{errors.skills}}</div>
                {{/if}}
            </div>

            <button class="btn btn-primary mt-3" type="submit">{{#if _id}}Edita la oferta{{else}}Crea una oferta{{/if}}</button>

        </form>
    </div>
</div>