<div class="profile-company">
    <img class="company-img" src="{{currentCompany.picture}}" alt="Foto de perfil">
    <a type="button" class="btn btn-candidates" data-toggle="modal" data-target="#showMoreModal">Ver perfil de empresa</a>
    <h1 class="text-uppercase my-5">{{currentCompany.name}}</h1>
</div>

<a type="button" class="btn btn-candidates show-more-company" data-toggle="modal" data-target="#showMoreModal">Ver perfil de empresa</a>

<div class="container-xl container-lg container-md container-fluid login my-5">
<div>
    <h2>Ofertas Publicadas</h2>
    {{!-- Crear Oferta --}}
    <a type="button" class="btn btn-offers" href="/offer-creation">Crear Oferta</a>
    
    {{!-- Mostrar oferta --}}
    {{#each offers}}
    <div class="border rounded p-3 my-2">
        <h3>{{name}}</h3>
        <p>Estado: {{#if active}}<span style="color: green;">ABIERTA</span>{{else}}<span
                style="color: red;">CERRADA</span>{{/if}}</p>

        <a type="button" class="text-secondary d-block show-more">Ver más</a>

        <div id="description" class="d-none description">
            <p class="text"><b>Descripción: </b><br>{{description}}</p>
            <p><b>Lugar de la oferta: </b> {{address}}</p>
            <p><b>Requisitos:</b>
            {{#each skills}}
            {{#if @last}}
            <span>{{this}}</span>
            {{else}}
            <span>{{this}} |</span>
            {{/if}}
            {{/each}}
            </p>
            <p><b>Categoría: </b> {{category}}</p>
            <p><b>Tipo de contrato: </b> {{contract}}</p>
            <p><b>Estudios mínimos: </b> {{studies}}</p>
            <p><b>Experiencia: </b> {{experience}}</p>
            <p><b>Salario: </b> {{salary}}</p>
        </div>

        <a type="button" class="btn btn-access" href="/edit-offer/{{id}}">Editar Oferta</a>
        <a type="button" class="btn btn-candidates" href="/application-detail/{{id}}">Ver candidatos</a>
        {{#unless paid}}
        <p class="mt-3">Para publicar esta oferta <u>debes realizar el pago</u>:
        <a type="button" class="btn btn-pay" href="/offer-detail/{{id}}">Pagar oferta</a>
        </p>
        {{/unless}}
    </div>
    {{/each}}
</div>


{{!-- MODAL EDIT COMPANY--}}
<div class="modal fade" id="showMoreModal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid justify-content-center">
                    <div class="row">
                        <div class="ms-auto modal-company">
                            <h2>{{currentCompany.name}}</h2>
                            <p><b>Email: </b>{{currentCompany.email}}</p>
                            <p><b>Descripción: </b>
                            <p id="description-profile" class="d-none text">{{currentCompany.description}}</p>
                            <a type="button" id="show-more-profile" class="text-secondary d-block show-more"><b>Ver más</b></a>
                            </br>
                            <p><b>Página web: </b> {{currentCompany.website}}</p>
                            <p><b>Dirección: </b> {{currentCompany.address.streetName}} {{currentCompany.address.number}} {{currentCompany.address.zipCode}} {{currentCompany.address.city}} {{currentCompany.address.country}}</p>
                        </div>
                        <a class="btn btn-access d-inline" href="/company-edit/{{currentCompany.id}}">Editar mi perfil</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
