<img src="{{currentCompany.picture}}" alt="Foto de perfil">
<h1>Perfil de Empresa</h1>

<p>Has iniciado sesión como {{currentCompany.name}} | {{currentCompany.email}}</p>


{{!-- Skills --}}

<a href="/offer-creation">Crear Oferta</a>
<br>
<h2>Ofertas Publicadas</h2>
{{#each offers}}
{{!-- Mostrar oferta --}}
<div class="border rounded p-3 mb-2">
    <h3>{{name}}</h3>
    <p>Estado: {{#if active}}<span style="color: green;">ABIERTA</span>{{else}}<span style="color: red;">CERRADA</span>{{/if}}</p>
    <p><b>Descripción:</b> <br> {{description}}</p>
    <b>Requisitos:</b>
    {{#each offer.skills}}
    {{#if @last}}
    <span>{{this}}</span>
    {{else}}
    <span>{{this}} |</span>
    {{/if}}
    {{/each}}
    <br>
    <a href="/edit-offer/{{_id}}">Editar Oferta</a>
    <a href="/application-detail/{{_id}}">Ver candidatos</a> 
    {{#unless paid}}
    <p class="mt-3">Para publicar esta oferta debes realizar el pago</p>
    <a href="/offer-detail/{{_id}}">Realizar pago</a>
    {{/unless}}
</div>
{{/each}}

<br>
<a class="btn btn-primary d-inline" href="/company-edit/{{currentCompany.id}}">Editar mi perfil</a>

