<h1>Introduce tu nuevo correo electrónico</h1>
<div class="col mb-2">
    <div class="row">
        <form action="/company-edit-email" method="POST">
            <div class="form-group">
                <label for="email-input"> Email Antiguo: </label>
                <input class="form-control {{#if errors.email}}is-invalid{{/if}}" type="email"
                    value="{{company.email}}" name="email" id="email-input">
                {{#if errors.email}}
                <div class="invalid-feedback">{{errors.email}}</div>
                {{/if}}
                <label for="new-email-input"> Nuevo Email: </label>
                <input class="form-control {{#if errors.email}}is-invalid{{/if}}" type="email"
                    value="{{company.email}}" name="newEmail" id="new-email-input">
                {{#if errors.email}}
                <div class="invalid-feedback">{{errors.email}}</div>
                {{/if}}
                <label for="confirm-email-input"> Confirmar Nuevo Email: </label>
                <input class="form-control {{#if errors.email}}is-invalid{{/if}}" type="email"
                    value="{{company.email}}" name="confirmEmail" id="confirm-email-input">
                {{#if errors.email}}
                <div class="invalid-feedback">{{errors.email}}</div>
                {{/if}}
                <button class="btn btn-primary mt-3" type="submit">Actualizar</button>
            </div>
        </form>
    </div>
</div>