<h1 class=>{{#if currentCompany}}Editar perfil{{else}}Registro como empresa{{/if}}</h1>
<div class="col mb-2">
    <div class="row">
        <form action="{{#if currentCompany}}/company-edit/{{_id}}{{else}}/company-signup{{/if}}" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="companyName-input" name="name"> Nombre: </label>
                <input class="form-control {{#if errors.name}}is-invalid{{/if}}" value="{{name}}" type="text" name="name" id="companyName-input">
                {{#if errors.name}}
                <div class="invalid-feedback">{{errors.name}}</div>
                {{/if}}
            </div>
            {{#unless currentCompany}}
            <div class="form-group">
                <label for="email-input"> Email: </label>
                <input class="form-control {{#if errors.email}}is-invalid{{/if}}" value="{{company.email}}" type="email"
                    name="email" id="email-input">
                {{#if errors.email}}
                <div class="invalid-feedback">{{errors.email}}</div>
                {{/if}}
            </div>
            <div class="form-group">
                <label for="companyPasswords-input"> Contraseña: </label>
                <input class="form-control {{#if errors.password}}is-invalid{{/if}}" type="password" name="password"
                    id="companyPasswords">
                {{#if errors.password}}
                <div class="invalid-feedback">{{errors.password}}</div>
                {{/if}}
            </div>
            {{/unless}}

            {{#if currentCompany}}
     
            <div class="form-group">
                <label for="companyPicture-input" name="picture"> Foto de empresa: </label>
                <input class="form-control" value="{{picture}}" type="file" name="picture" id="companyPicture-input">
                {{#if errors.picture}}
                <div class="invalid-feedback">
                    {{errors.picture}}
               {{/if}} 
                </div>
                <div class="form-group">
                    <label for="companyDescription-input" name="description"> Descripción de la empresa: </label>
                    <textarea name="description" id="description" value="{{description}}" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="website-input" name="website"> Enlace a la página web de la empresa: </label>
                    <input class="form-control" value="{{website}}" type="text" name="website" id="website-input">
                </div>
                
            <div class="form-group">
                <label for="address-input"> Lugar de la oferta: </label>
                <input class="form-control mb-2 {{#if errors.address}}is-invalid{{/if}}" value="{{address.streetName}}" type="text"
                    name="address.streetName" id="address-input" placeholder="Calle">
                <input class="form-control mb-2 {{#if errors.address}}is-invalid{{/if}}" value="{{address.number}}" type="text"
                    name="address.number" id="address-input" placeholder="Número">
                <input class="form-control mb-2 {{#if errors.address}}is-invalid{{/if}}" value="{{address.zipCode}}" type="text"
                    name="address.zipCode" id="address-input" placeholder="Código Postal">
                <input class="form-control mb-2 {{#if errors.address}}is-invalid{{/if}}" value="{{address.city}}" type="text"
                    name="address.city" id="address-input" placeholder="Ciudad">
                <input class="form-control mb-2 {{#if errors.address}}is-invalid{{/if}}" value="{{address.country}}" type="text"
                    name="address.country" id="address-input" placeholder="País">
                {{#if errors.address}}
                <div class="invalid-feedback">{{errors.address}}</div>
                {{/if}}
            </div>


            {{/if}}

            <button class="btn btn-primary mt-3" type="submit">{{#if
            currentCompany}}Editar{{else}}Registro{{/if}}</button>
        </form>
    </div>
</div>

{{#unless currentCompany}}
<p>¿Ya tienes una cuenta? <a href="/company-login">Iniciar sesión</a></p>
{{/unless}}

{{#if currentCompany}}
<form class="delete-form d-inline" action="/delete-company/{{currentCompany._id}}" method="post">
    <button type="submit" class="btn btn-danger" onclick="return clicked()">Eliminar Perfil
        Empresa</button>
</form>
{{/if}}