<h1 class=>Registro como empresa</h1>
<div class="col mb-2">
    <div class="row">
        <form action="/company-signup" method="POST">
            <div class="form-group">
                <label for="companyName-input" name="name"> Nombre: </label>
                <input class="form-control {{#if errors.name}}is-invalid{{/if}}" value="{{company.name}}" type="text" name="name" id="companyName-input">
                {{#if errors.name}}
                <div class="invalid-feedback">{{errors.name}}</div>
                {{/if}}
            </div>
            <div class="form-group">
                <label for="email-input"> Email: </label>
                <input class="form-control {{#if errors.email}}is-invalid{{/if}}" value="{{company.email}}" type="email"
                    name="email" id="email-input">
                {{#if errors.email}}
                <div class="invalid-feedback">{{errors.email}}</div>
                {{/if}}
            </div>
            <div class="form-group">
                <label for="companyPasswords-input"> Contraseña: </label>
                <input class="form-control {{#if errors.password}}is-invalid{{/if}}" type="password" name="password"
                    id="companyPasswords">
                {{#if errors.password}}
                <div class="invalid-feedback">{{errors.password}}</div>
                {{/if}}
            </div>

            <button class="btn btn-primary mt-3" type="submit">Registro</button>
        </form>
    </div>
</div>
<p>¿Ya tienes una cuenta? <a href="/company-login">Iniciar sesión</a></p>