<h1>Vista Candidatura</h1>

<h2>Oferta</h2>
{{#with offer}}
{{!-- Offer detail --}}
<div class="border rounded p-3 mb-2">
    <h3>{{name}}</h3>
    <p><b>Descripción:</b> <br> {{description}}</p>
    <b>Requisitos:</b>
    {{#each skills}}
    {{#if @last}}
    <span>{{this}}</span>
    {{else}}
    <span>{{this}} |</span>
    {{/if}}
    {{/each}}
    <br>
    <a href="/edit-offer/{{_id}}">Editar Oferta</a>
</div>
{{/with}}

<h2>Candidatos</h2>
{{!-- Applicants --}}
{{#each application}}
<div class="border rounded p-3 mb-2">
    <h3>{{candidate.name}}</h3>
    <img src="{{candidate.picture}}" alt="Foto de perfil">
</div>
{{/each}}

{{#each filteredCandidates}}
<div>
<h3>{{candidate.name}}</h3>
</div>
{{/each}}

<h2>Filtrar candidatos</h2>
<form class="form-group" action="/application-search">
    <label for="age">Edad</label>
    <input class="form-control" name="age" type="number" id="age">
    <button class="btn btn-secondary text-white mt-2 mb-3" type='submit'>Buscar</button>
</form>
<form class="form-group" action="/application-search">
    <label for="addres">Ciudad</label>
    <input class="form-control" name="address" type="text" id="address">
    <button class="btn btn-secondary text-white mt-2 mb-3" type='submit'>Buscar</button>
</form>