<div id="offer-list-navbar">
    <div class="container-xl container-lg container-md container-fluid my-2 px-0">
        <div
            class="align-items-center d-block d-sm-flex justify-content-between container-xl container-lg container-md container-fluid">
            <h1>{{offer.name}}</h1>
            <form class="delete-form" action="/delete-offer/{{offer._id}}" method="post">
                <button type="submit" class="btn btn-danger" onclick="return clicked()">Cerrar proceso</button>
            </form>
        </div>
    </div>
</div>

<div class="container-xl container-lg container-md container-fluid">
    {{!-- OFFER --}}
    {{!-- <div class="container-xl container-lg container-md container-fluid"> --}}
        <div class="border rounded p-3">
            <div id="offer-list-navbar" class="align-items-center d-flex justify-content-between">
                <h3 id="info-oferta" class="mt-2">Información de la oferta</h3>
                <div class="text-secondary mt-2"><b><u><span id="show-offer-detail">Ver más</span></u></b></div>
            </div>
            <div id="offer-detail" class="d-none mt-3">
                <h3>{{offer.name}}</h3>
                <hr>
                <h5>Lugar de la oferta: {{offer.address}}</h5>
                <h5>Descripción</h5>
                <p class="text-justify">{{offer.description}}</p>
                <p>
                    <b>Requisitos:</b>
                    {{#each offer.skills}}
                    {{#if @last}}
                    <span>{{this}}</span>
                    {{else}}
                    <span>{{this}} |</span>
                    {{/if}}
                    {{/each}}
                </p>

                <a class="btn btn-outline-primary" href="/edit-offer/{{offer._id}}">Editar Oferta</a>

                {{#if offer.active}}
                {{#unless offer.paid}}
                <p class="mt-3">Para publicar esta oferta debes realizar el pago</p>
                <button id="checkout-btn" class="btn btn-primary">Realizar pago</button>
                {{/unless}}
                {{/if}}
            </div>
        </div>

        {{!-- CANDIDATES --}}
        <div class="border rounded p-3 mt-3">
            <div id="offer-list-navbar" class="align-items-center d-flex justify-content-between">
                <h3 class="mt-2"><u>Candidatos</u></h3>
                <div class="text-secondary mt-2"><b><u><span id="show-app-filters">Filtros</span></u></b></div>
            </div>

            {{!-- Filters --}}
            <div id="app-filters" class="d-none">
                <div class="d-flex justify-content-around my-2">
                    <div class="col-5">
                        <form class="form-group" action="/application-search">
                            <label for="age">Edad</label>
                            <input name="offerId" type="hidden" value="{{offer._id}}">
                            <input class="form-control" name="age" type="text" id="age">
                            <button class="btn btn-secondary text-white mt-2 mb-3 find-btn"
                                type='submit'>Buscar</button>
                        </form>
                    </div>

                    <div class="col-5">
                        <form class="form-group" action="/application-search">
                            <label for="addres">Ciudad</label>
                            <input name="offerId" type="hidden" value="{{offer._id}}">
                            <input class="form-control" name="address" type="text" id="address">
                            <button class="btn btn-secondary text-white mt-2 mb-3 find-btn"
                                type='submit'>Buscar</button>
                        </form>
                    </div>
                </div>
                <hr>
            </div>

            {{!-- Applicants --}}
            <div class="container">
                {{!-- Real candidates --}}
                {{#with application}}
                <div id="fake-candidate" class="p-3 mb-2 row d-flex align-items-baseline" data-toggle="modal"
                    data-target="#candidateModal" data-bs-whatever="@{{id}}"> {{!-- Fake candidates --}}
                    {{#each this}}
                    <div
                        class="d-flex flex-column align-items-center col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
                        <img class="profile-img img-fluid" src="{{candidate.picture}}" alt="Foto de perfil">
                        <h5 class="p-2 text-center"><b>{{candidate.name}} <br> {{candidate.surname}}</b> </h5>
                    </div>
                    {{/each}}
                </div>
                {{/with}}
            </div>


            {{!-- Results filters --}}
            {{#each candidates}}
            <div>
                <img class="profile-img" src="{{candidate.picture}}" alt="Foto de perfil">
                <h3>{{candidate.name}}</h3>
            </div>
            {{/each}}
        </div>

    </div>
</div>

{{#each application}}
{{#with candidate}}
{{!-- MODAL CANDIDATE--}}
<div class="modal fade" id="candidateModal">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid justify-content-center">
                    <div class="row">
                        <div class="ms-auto modal-company">

                            <img class="profile-img img-fluid" src="{{picture}}" alt="Foto de perfil">
                            <h2>{{name}}</h2>
                            <p><b>Email: </b>{{email}}</p>
                            <p>Número de teléfono: {{phone}}</p>
                            <p>
                                {{#each skills}}
                                {{#if @last}}
                                <span>{{this}}</span>
                                {{else}}
                                <span>{{this}} |</span>
                                {{/if}}
                                {{/each}}
                            </p>
                            <p>Edad: {{age}}</p>
                            <p>Mi curriculum: {{resume}}</p>
                            <p>Dirección: {{address}}</p>
                            <p>Mi linkedIn: {{linkedin}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/with}}
{{/each}}

<script src="/javascripts/application-detail.js"></script>